.login section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#not-registered-text {
    display: inline;
}

#login-button {
display:block;
}

#login-form {
position:absolute;
top:25%;
left:5%;
}

#snapped-logo {
    display: none;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }

    .login {
        display: none;
    }



    #snapped-logo {
        display: inline;
        margin: 150% 25%;
    }
    body {
        background-color:#FFFBF4;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}